{% extends 'base.html.twig' %}

{% block title %} - {{ title }}{% endblock %}

{% block body %}
    <div class="card" style="color: black">
        <h5 class="card-header">Edit</h5>
        {{ form_start(folderForm, {"attr": {"novalidate": "novalidate"}}) }}
        <div class="card-body">
            <div class="form-group">
                <label>Title</label>
                {{ form_widget(folderForm.title, {attr: {placeholder: 'Title', class: 'form-control'}}) }}
            </div>

            <div class="form-group">
                <label>Sequence</label>
                {{ form_widget(folderForm.sequence, {attr: {placeholder: 'Sequence', class: 'form-control'}}) }}
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#foldersModal">
                    Move to another folder
                </button>

                <!-- Modal -->
                <div class="modal fade" id="foldersModal" tabindex="-1" aria-labelledby="foldersModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="foldersModalLabel">Folders</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="list-group">
                                    {% for item in folders %}
                                        {% if item.title == folder.title %}
                                            <a href="#" class="list-group-item list-group-item-action active"
                                               aria-current="true">
                                                {{ item.title }}
                                            </a>
                                        {% else %}
                                            <a href="{{ path('move_folder', {folder: folder.id, folderTo: item.id}) }}"
                                               class="list-group-item list-group-item-action">{{ item.title }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <a href="{{ path('folder_index', {'title': folder.title}) }}" class="btn btn-light">Cancel</a>
            <button class="btn btn-primary" type="submit">
                Save
            </button>
        </div>
        {{ form_end(folderForm) }}
    </div>
{% endblock %}