{% extends 'base.html.twig' %}

{% block title %} - {{ title }}{% endblock %}

{% block navbar %}
    <a class="nav-link" data-toggle="modal" data-target="#linkModal" href="#">Link</a>
    <a class="nav-link" href="#" data-toggle="modal" data-target="#folderModal">Folder</a>
    <a class="nav-link" href="{{ path('app_logout') }}">logout</a>
{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background: #CCCCCC">
            {% for base_folder in base_folders %}
                {% if base_folder == title %}
                    <li class="breadcrumb-item"><span style="color: black">{{ base_folder }}</span></li>
                {% else %}
                    <li class="breadcrumb-item"><a
                                href="{{ path('folder_index', {title: base_folder}) }}">{{ base_folder }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>

    {{ knp_pagination_render(elements) }}

    {% if marks %}
        <div class="btn-group" role="group">
            <button id="btnGroupMarks" type="button" class="btn btn-secondary btn-sm dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 5px">
                Marks
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupMarks">
                <form class="form-inline" method="get" action="{{ path('folder_index', {title: title}) }}">
                    {% for mark in marks %}
                        <input type="submit" name="markElement" class="dropdown-item" value="{{ mark.mark }}">
                    {% endfor %}
                </form>
            </div>
        </div> <br>
    {% endif %}

    <table class="table table-sm" style="table-layout:fixed">
        <b>{{ title }}</b>
        {% for element in elements %}
            <tr>
                {% if element.url is defined %}
                    <td>
                        {% if element.url|split('.')|last in ['jpg', 'jpeg', 'png', 'JPG', 'JPEG', 'PNG'] %}
                            <img src="{{ element.url }}" width="25" alt="{{ element.website ?? element.id }}">
                        {% elseif element.website in ['youtube.com'] %}
                            <img src="https://img.youtube.com/vi/{{ element.url|split('v=')|last }}/default.jpg"
                                 width="27" alt="{{ element.website ?? element.id }}">
                        {% else %}
                            {% if element.img %}
                                <img src="{{ element.img }}" width="25" alt="{{ element.website ?? element.id }}">
                            {% else %}
                                <b style="color: white">W</b>&nbsp
                            {% endif %}
                        {% endif %}
                        {% if element.url %}
                            <a href="{{ element.url }}" target="_blank">{{ element.title }}</a>
                        {% else %}
                            <span style="color: whitesmoke">{{ element.title }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary float-right" data-toggle="modal"
                                data-target="#moreElement_{{ element.id }}Modal">
                            More
                        </button>
                        <!-- More Element Modal -->
                        <div class="modal fade" id="moreElement_{{ element.id }}Modal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog" style="background-color: #2F2F2F">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">
                                            More
                                            <a href="{{ path('change_pin_link', {link: element.id}) }}" style="font-size: 15px;">
                                                {{ element.pinned ? 'unpin' : 'pin' }}
                                            </a>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ element.title }}</h5>
                                            <p class="card-text">
                                                <b>website:</b>&nbsp; {{ element.website ?? "---" }}
                                            </p>
                                            <p class="card-text">
                                                <b>mark:</b>&nbsp; {{ element.mark ?? "---" }}
                                            </p>
                                            <p class="card-text">
                                                <b>description:</b><br>{{ element.description|raw }}
                                            </p>
                                            <p class="card-text"><small
                                                        class="text-muted">{{ element.createdAt|date('d F Y H:i') }}</small>
                                            </p>
                                            <p class="card-text"><small class="text-muted">{{ element.url }}</small></p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('link_remove', {'link': element.id}) }}"
                                           class="btn btn-warning">Remove</a>
                                        <a href="{{ path('link_edit', {'id': element.id}) }}" class="btn btn-primary">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                {% else %}
                    <td>
                        <b style="color: white">F</b>&nbsp;
                        <a href="{{ path('folder_index', {'title': element.title}) }}">{{ element.title }}</a>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle float-right" type="button"
                                    id="moreFolderButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false"></button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="moreFolderButton">
                                <a href="{{ path('folder_edit', {'title': element.title, 'folder': element.id}) }}"
                                   class="dropdown-item">Edit</a>
                                <a href="{{ path('folder_remove', {'folder': element.id}) }}" class="dropdown-item">Remove</a>
                            </div>
                        </div>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <!-- New Folder Modal -->
    <div class="modal fade" id="folderModal" tabindex="-1" aria-labelledby="folderModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #2F2F2F">
                    <h5 class="modal-title" id="folderModalLabel">New Folder</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('folder_new', {'title': title}) }}" method="post">
                    <div class="modal-body" style="background-color: #2F2F2F">
                        <div class="form-group">
                            <input type="text" class="form-control" name="new_folder_name" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="new_folder_sequence" placeholder="Sequence">
                        </div>
                    </div>
                    <div class="modal-footer" style="background-color: #2F2F2F">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- New Link Modal -->
    <div class="modal fade" id="linkModal" tabindex="-1" aria-labelledby="linkModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="background-color: #2F2F2F">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #2F2F2F">
                    <h5 class="modal-title" id="linkModalLabel">New Link</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('link_new', {'folder': title}) }}" method="post">
                    <div class="modal-body" style="background-color: #2F2F2F">
                        <div class="form-group">
                            <input type="text" class="form-control" name="new_link_url" placeholder="url">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="new_link_title" placeholder="title">
                        </div>

                        <a class="btn btn-light" data-toggle="collapse" href="#moreSettings" role="button"
                           aria-expanded="false" aria-controls="moreSettings">
                            More
                        </a>
                        <div class="collapse" id="moreSettings">
                            <div class="card card-body" style="background: #2F2F2F">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="new_link_sequence"
                                           placeholder="sequence">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="new_link_img" placeholder="img">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="new_link_mark" placeholder="mark">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer" style="background-color: #2F2F2F">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{ knp_pagination_render(elements) }}
{% endblock %}
