{% extends 'base.html.twig' %}

{% block title %} - {{ link.folder.title }}{% endblock %}

{% block body %}
    <div class="card" style="color: black">
        <h5 class="card-header">
            Edit
            <a href="{{ path('change_pin_link', {link: link.id}) }}" style="font-size: 15px;">
                {{ link.pinned ? 'unpin' : 'pin' }}
            </a>
        </h5>
        {{ form_start(linkForm, {"attr": {"novalidate": "novalidate"}}) }}
        <div class="card-body">
            <div class="form-group">
                <label>Title</label>
                {{ form_widget(linkForm.title, {attr: {placeholder: 'Title', class: 'form-control'}}) }}
            </div>
            <div class="form-group">
                <label>Mark</label>
                {{ form_widget(linkForm.mark, {attr: {placeholder: 'Mark', class: 'form-control'}}) }}
            </div>
            <div class="form-group">
                <label>Description</label>
                {{ form_widget(linkForm.description, {attr: {placeholder: 'Description...', class: 'form-control', rows: 6}}) }}
            </div>
            <div class="form-group">
                <label>Url</label>
                {{ form_widget(linkForm.url, {attr: {placeholder: 'Url', class: 'form-control'}}) }}
            </div>
            <div class="form-group">
                <label>Website</label>
                {{ form_widget(linkForm.website, {attr: {placeholder: 'Website name', class: 'form-control'}}) }}
            </div>
            <div class="form-group">
                <label>Img</label>
                {{ form_widget(linkForm.img, {attr: {placeholder: 'Link to img', class: 'form-control'}}) }}
            </div>
            <div class="form-group">
                <label>Sequence</label>
                {{ form_widget(linkForm.sequence, {attr: {placeholder: 'Sequence', class: 'form-control'}}) }}
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#foldersModal">
                    Move to another folder
                </button>

                <!-- Modal -->
                <div class="modal fade" id="foldersModal" tabindex="-1" aria-labelledby="foldersModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="foldersModalLabel">Folders</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="list-group">
                                {% for folder in folders %}
                                    {% if folder.title == link.folder.title %}
                                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                                            {{ folder.title }}
                                        </a>
                                    {% else %}
                                        <a href="{{ path('move_element', {link: link.id, folder: folder.id}) }}" class="list-group-item list-group-item-action">{{ folder.title }}</a>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <a href="{{ path('folder_index', {'title': link.folder.title}) }}" class="btn btn-light">Cancel</a>
            <button class="btn btn-primary" type="submit">
                Save
            </button>
        </div>
        {{ form_end(linkForm) }}
    </div>
{% endblock %}