{% extends 'base.html.twig' %}

{% block body %}
    <h1>Something is wrong</h1>

    <p>
        something went wrong, please <a href="{{ path('app_login') }}">go to the homepage</a> and try again later.
    </p>
{% endblock %}