{% extends 'base.html.twig' %}

{% block body %}
    <h1>Forbidden</h1>

    <p>
        You do not have access to this content. <a href="{{ path('app_login') }}">Go to the homepage</a>.
        something went wrong, please <a href="{{ path('app_login') }}">go to the homepage</a> and try again later.
    </p>
{% endblock %}